.footer {
  background-color: rgb(60, 60, 60);
  height: 200px;
  text-align: center;
}

.footer ul {
  list-style: none;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-right: 30px;
}

.footer li {
  display: inline;
  padding: 0;
  color: #149911;
}

.footer li:hover {
  color: #0F700D;
  transition: 0.4s;
}

.footer p {
  padding: 30px;
  color: rgb(180, 180, 180);
}
